@{
    ViewData["Title"] = "Submit";
}

<h1>Submit</h1>

<form method="post">
    <label for="joke">Your joke</label>
    <input id="joke" name="joke" value="@Model"/>
    <button type="submit">Submit Joke</button>
</form>